.figure .caption {
    text-align: left !important;
}

/* Prevents equations as svg-files to be clickable links */
a.no-click {
    pointer-events: none !important;
}

  
.image .caption {
    text-align: left !important;
}
  
.inline-image {
    width: 35px; /* Fixed width */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align with text */
    border: 1px solid #006aff; /* Add a border */
    border-radius: 8px; /* Rounded corners */
}


/* CSS rules for logo */
.navbar-brand img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
  }