/* Define color variables for each mode */
:root {
    --background-color: #f9f9f9 !important;
    --border-color: #ccc !important;
    --draggable-background-color: #ffffff !important;
    --drop-area-background-color: #ffffff !important;
    --drop-area-border-color: #007bff !important;
    --text-color: #24292f !important;
    --hover-background-color: #e9ecef !important;
    --hover-border-color: #0056b3 !important;
    --placeholder-background-color: #bcbbbb !important;
    --placeholder-border-color: #999 !important;
    --button-background-color-check: #28a745 !important;
    --button-background-color-reset: #ffc107 !important;
    --button-text-color: black !important;
    --modal-background-color: #fefefe !important;
    --modal-border-color: #888 !important;
    --draggable-item-background-color: #ffffff !important;
    --draggable-item-border-color: #007bff !important;
    --toast-background-color: rgba(0, 128, 128, 0.9) !important;
    --toast-success-background-color: rgba(25, 135, 84, 0.9) !important; /* Green */
    --toast-success-text-color: #ffffff !important;
    --toast-error-background-color: rgba(220, 53, 69, 0.9) !important; /* Red */
    --toast-error-text-color: #ffffff !important;
}

/* Dark mode variables */
[data-mode="dark"] {
    --background-color: #202020 !important;
    --border-color: #ccc !important;
    --draggable-background-color: #141923 !important;
    --drop-area-background-color: #3b3b3b !important;
    --drop-area-border-color: #007bff !important;
    --text-color: #ffffff !important;
    --hover-background-color: #333333 !important;
    --hover-border-color: #0056b3 !important;
    --placeholder-background-color: #000000 !important;
    --placeholder-border-color: #999 !important;
    --button-background-color-check: #28a745 !important;
    --button-background-color-reset: #ffc107 !important;
    --button-text-color: black !important;
    --modal-background-color: #181818 !important;
    --modal-border-color: #888 !important;
    --draggable-item-background-color: #252d40 !important;
    --draggable-item-border-color: #1b1b1b !important;
    --toast-background-color: rgba(0, 128, 128, 0.9) !important;
}


/* Auto mode using system preferences */
@media (prefers-color-scheme: light) {
    [data-mode="auto"] {
        --background-color: #f9f9f9 !important;
        --border-color: #ccc !important;
        --draggable-background-color: #ffffff !important;
        --drop-area-background-color: #ffffff !important;
        --drop-area-border-color: #007bff !important;
        --text-color: #24292f !important;
        --hover-background-color: #e9ecef !important;
        --hover-border-color: #0056b3 !important;
        --placeholder-background-color: #bcbbbb !important;
        --placeholder-border-color: #999 !important;
        --button-background-color-check: #28a745 !important;
        --button-background-color-reset: #ffc107 !important;
        --button-text-color: black !important;
        --modal-background-color: #fefefe !important;
        --modal-border-color: #888 !important;
        --draggable-item-background-color: #ffffff !important;
        --draggable-item-border-color: #007bff !important;
        --toast-background-color: rgba(0, 128, 128, 0.9) !important;
    }
}

@media (prefers-color-scheme: dark) {
    [data-mode="auto"] {
        --background-color: #202020 !important;
        --border-color: #ccc !important;
        --draggable-background-color: #141923 !important;
        --drop-area-background-color: #3b3b3b !important;
        --drop-area-border-color: #007bff !important;
        --text-color: #ffffff !important;
        --hover-background-color: #333333 !important;
        --hover-border-color: #0056b3 !important;
        --placeholder-background-color: #000000 !important;
        --placeholder-border-color: #999 !important;
        --button-background-color-check: #28a745 !important;
        --button-background-color-reset: #ffc107 !important;
        --button-text-color: black !important;
        --modal-background-color: #181818 !important;
        --modal-border-color: #888 !important;
        --draggable-item-background-color: #252d40 !important;
        --draggable-item-border-color: #1b1b1b !important;
        --toast-background-color: rgba(0, 128, 128, 0.9) !important;
    }
}

/* Main container for Parsons puzzle */
.puzzle-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 20px !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 8px !important;
    background-color: var(--background-color) !important;
    position: relative !important;
}

/* Draggable code area */
/* .draggable-code {
    width: 100%;
    background-color: var(--draggable-background-color);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 15px;
} */

/* Draggable items */
.draggable-code {
    background-color: var(--draggable-background-color) !important;
    color: var(--text-color) !important;
    border: 2px solid var(--primary-color) !important;
    padding: 10px 15px !important;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    cursor: grab !important;
    display: inline-block !important;
    white-space: normal !important; /* Allows text to wrap if it’s too long */
    width: 100% !important; /* Width is automatically adjusted based on content */
    height: auto !important; /* Height is automatically adjusted based on content */
    max-width: 100% !important; /* Prevents the item from exceeding the container width */
    box-sizing: border-box !important; /* Includes padding and border in width calculation */
    transition: all 0.2s ease !important;
}

.pairing-puzzle-container .draggable-code {
    background-color: var(--draggable-background-color) !important;
    color: var(--text-color) !important;
    border: 2px solid var(--primary-color) !important;
    padding: 10px 15px !important;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    cursor: grab !important;
    display: inline-block !important;
    width: 100% !important;
    /* max-width: 180px; */
    /* min-width: 100px; */
    white-space: nowrap !important;
    overflow: visible !important;
    text-overflow: ellipsis !important;
    box-sizing: border-box !important;
    transition: all 0.2s ease !important;
}

/* Drop area */
.drop-area {
    width: 100% !important;
    background-color: var(--drop-area-background-color) !important;
    border: 2px dashed var(--drop-area-border-color) !important;
    min-height: 150px !important;
    padding: 10px !important;
    border-radius: 8px !important;
    position: relative !important;
    margin-bottom: 15px !important;
}

/* General draggable item styles */
.draggable {
    background-color: var(--draggable-item-background-color) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--draggable-item-border-color) !important;
    padding: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 3px !important;
    cursor: grab !important;
}

/* Placeholder in drop area */
.placeholder {
    height: 50px !important;
    margin-bottom: 5px !important;
    background-color: var(--placeholder-background-color) !important;
    border: 1px dashed var(--placeholder-border-color) !important;
    width: 100% !important;
    padding: 5px !important;
    box-sizing: border-box !important;
    text-align: center !important;
}

/* .draggable:active {
    background-color: #e0f7fa;
    opacity: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    border: 2px solid #007bff;
    cursor: grabbing;
    color: #000000;
    transition: all 0.2s ease;
    opacity: 0.9;
} */

/* Drop area hover effect */
/* .drop-area.dragover {
    background-color: var(--hover-background-color);
    border-color: var(--hover-border-color);
} */

/* Feedback when dragging */
/* .dragging {
    display: block;
    background-color: #e0f7fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.2s ease;
    opacity: 0.9 !important;
} */

/* Code block styles */
pre.highlight {
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
    font-family: inherit !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}

/* Button styles */
.button {
    padding: 10px 20px !important;
    margin-right: 10px !important;
    border-radius: 5px !important;
    border: none !important;
    cursor: pointer !important;
}

.button-check-solution {
    background-color: var(--button-background-color-check) !important;
    color: var(--button-text-color) !important;
}

.button-reset-puzzle {
    background-color: var(--button-background-color-reset) !important;
    color: var(--button-text-color) !important;
}

/* Modal container (hidden by default) */
.modal {
    display: none !important;
    position: fixed !important;
    z-index: 1000 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    background-color: rgba(0,0,0,0.4) !important;
}

/* Modal content */
.modal-content {
    background-color: var(--modal-background-color) !important;
    margin: 15% auto !important;
    padding: 20px !important;
    border: 1px solid var(--modal-border-color) !important;
    width: 80% !important;
    border-radius: 5px !important;
}

/* Close button */
.close {
    color: #aaa !important;
    float: right !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

.close:hover,
.close:focus {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

/* Copy button */
.button-copy-code {
    margin-top: 10px !important;
    padding: 10px 20px !important;
    background-color: #007bff !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

.button-copy-code:hover {
    background-color: #0056b3 !important;
}

.button-container {
    display: flex !important;
    gap: 10px !important;
    margin-top: 5px !important;
}


/* Toast Notification */
.toast {
    position: absolute !important; /* Ensure it's positioned relative to the container */
    padding: 15px !important;
    border-radius: 8px !important;
    z-index: 1000 !important;
    display: none !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    font-size: 30px !important;
    text-align: center !important;
    /* Remove background-color and color to allow specific classes to set them */
}

/* Success Toast */
.toast-success {
    background-color: var(--toast-success-background-color) !important;
    color: var(--toast-success-text-color) !important;
}

/* Error Toast */
.toast-error {
    background-color: var(--toast-error-background-color) !important;
    color: var(--toast-error-text-color) !important;
}

/* Toast Message */
.toast p {
    margin: 0 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    /* color is set in specific toast classes */
}
