/* CSS rules for custom admonitions */

div.interactive {
  /* No visual changes for the web view */
  /* Created to flag interactive problems to be hidden for the printed edition */
  display: block;
}

div.noninteractive {
  display: none;
}

/* Stil for quiz */
div.quiz {
  border-left-color: rgb(128, 0, 85);
  background-color: rgba(128, 0, 85, 0);
}

div.quiz > .admonition-title {
  background-color: rgba(128, 0, 85, 0.1);
  position: relative; 
}

[data-mode=light] div.quiz > .admonition-title::after {
  content: url("./icons/outline/light_mode/question.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: light) {
  div.quiz > .admonition-title::after {
    content: url("./icons/outline/light_mode/question.svg");
    width: 20px;
    height: 20px;
  }
}

[data-mode=dark] div.quiz > .admonition-title::after {
  content: url("./icons/outline/dark_mode/question.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.quiz > .admonition-title::after {
    content: url("./icons/outline/dark_mode/question.svg");
    width: 20px;
    height: 20px;
  }
}


/* Stil for oppsummering */
div.reminder {
  border-left-color: rgb(128, 0, 85);
  background-color: rgba(128, 0, 85, 0.025);
}

div.reminder > .admonition-title {
  background-color: rgba(128, 0, 85, 0.1);
  position: relative; 
}

[data-mode=light] div.reminder > .admonition-title::after {
  content: url("./icons/outline/light_mode/backward.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: light) {
  div.reminder > .admonition-title::after {
    content: url("./icons/outline/light_mode/backward.svg");
    width: 20px;
    height: 20px;
  }
}

[data-mode=dark] div.reminder > .admonition-title::after {
  content: url("./icons/outline/dark_mode/backward.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.reminder > .admonition-title::after {
    content: url("./icons/outline/dark_mode/backward.svg");
    width: 20px;
    height: 20px;
  }
}

/* Stil for oppsummering */
div.summary {
  border-left-color: rgb(0, 128, 128);
  background-color: rgba(0, 128, 128, 0.1);
}

div.summary > .admonition-title {
  background-color: rgba(0, 128, 128, 0.1);
  position: relative; 
}

[data-mode=light] div.summary > .admonition-title::after {
  content: url("./icons/outline/light_mode/summary.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: light) {
  div.summary > .admonition-title::after {
    content: url("./icons/outline/light_mode/summary.svg");
    width: 20px;
    height: 20px;
  }
}


[data-mode=dark] div.summary > .admonition-title::after {
  content: url("./icons/outline/dark_mode/summary.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.summary > .admonition-title::after {
    content: url("./icons/outline/dark_mode/summary.svg");
    width: 20px;
    height: 20px;
  }
}

/* Stil for teoriblokker */
div.theory {
  border-left-color: rgb(0, 80, 171);
  background-color: rgba(0, 80, 171, 0.1);
}
  

div.theory > .admonition-title {
  background-color: rgba(0, 80, 160, 0.1);
  position: relative; 
}
  

[data-mode=light] div.theory > .admonition-title::after {
  content: url("./icons/outline/light_mode/book.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: light) {
  div.theory > .admonition-title::after {
    content: url("./icons/outline/light_mode/book.svg");
    width: 20px;
    height: 20px;
  }
}

[data-mode=dark] div.theory > .admonition-title::after {
  content: url("./icons/outline/dark_mode/book.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.theory > .admonition-title::after {
    content: url("./icons/outline/dark_mode/book.svg");
    width: 20px;
    height: 20px;
  }
}



/* Stil for eksempler */
div.explore {
  border-left-color: rgba(0, 128, 128, 0.6);
}

div.explore > .admonition-title {
  background-color: rgba(0, 128, 128, 0.3) !important;
}

div.explore > .admonition-title:before {
  color: rgba(0, 128, 128, 0.6);
}


[data-mode=light] div.explore > .admonition-title::after {
  content: url("./icons/outline/light_mode/magnifying.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: light) {
  div.explore > .admonition-title::after {
    content: url("./icons/outline/light_mode/magniyfing.svg");
    width: 20px;
    height: 20px;
  }
}

[data-mode=dark] div.explore > .admonition-title::after {
  content: url("./icons/outline/dark_mode/magnifying.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.explore > .admonition-title::after {
    content: url("./icons/outline/dark_mode/magnifying.svg");
    width: 20px;
    height: 20px;
  }
}
    

/* Stil for eksempler */
div.example {
  border-left-color: rgba(207, 161, 255, 0.657);
}
  
div.example > .admonition-title {
  background-color: rgb(207, 161, 255, 0.3) !important;
}
  
div.example > .admonition-title:before {
  color: rgb(207, 161, 255, 0.3);
}
  


[data-mode=light] div.example > .admonition-title::after {
  content: url("./icons/outline/light_mode/pencil_square.svg");
  width: 20px;
  height: 20px;
}
  
@media (prefers-color-scheme: light) {
  div.example > .admonition-title::after {
    content: url("./icons/outline/light_mode/pencil_square.svg");
    width: 20px;
    height: 20px;
  }
}
  
[data-mode=dark] div.example > .admonition-title::after {
  content: url("./icons/outline/dark_mode/pencil_square.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.example > .admonition-title::after {
    content: url("./icons/outline/dark_mode/pencil_square.svg");
    width: 20px;
    height: 20px;
  }
}




  
/* Stil for fasit */
div.answer {
  border-left-color: rgba(171, 86, 241, 0.6);
}

div.answer > .admonition-title {
  background-color: rgba(171, 86, 241, 0);
}

div.answer > .admonition-title::before {
  color: rgba(171, 86, 241, 0);
}


[data-mode=light] div.answer > .admonition-title::after {
  content: url("./icons/outline/light_mode/square_check.svg");
  width: 20px;
  height: 20px;
}

  
@media (prefers-color-scheme: light) {
  div.answer > .admonition-title::after {
    content: url("./icons/outline/light_mode/square_check.svg");
    width: 20px;
    height: 20px;
  }
}
  
[data-mode=dark] div.answer > .admonition-title::after {
  content: url("./icons/outline/dark_mode/square_check.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.answer > .admonition-title::after {
    content: url("./icons/outline/dark_mode/square_check.svg");
    width: 20px;
    height: 20px;
  }
}





/* Stil for løsningsforslag */
div.solution {
  border-left-color: rgba(171, 86, 241, 0.6);
}

div.solution > .admonition-title {
  background-color: rgba(171, 86, 241, 0);
}

div.solution > .admonition-title::before {
  color: rgba(171, 86, 241, 0);
}

div.solution > .admonition-title::after {
  content: url("./icons/outline/unlock.svg");
  width: 20px;
  height: 20px;
}


[data-mode=light] div.solution > .admonition-title::after {
  content: url("./icons/outline/light_mode/unlock.svg");
  width: 20px;
  height: 20px;
}
  
@media (prefers-color-scheme: light) {
  div.solution > .admonition-title::after {
    content: url("./icons/outline/light_mode/unlock.svg");
    width: 20px;
    height: 20px;
  }
}
  
[data-mode=dark] div.solution > .admonition-title::after {
  content: url("./icons/outline/dark_mode/unlock.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.solution > .admonition-title::after {
    content: url("./icons/outline/dark_mode/unlock.svg");
    width: 20px;
    height: 20px;
  }
}
  
  
  /* Stil for oppgaver: level 1 */
  div.problem-level-1 {
    border-left-color: rgba(0, 195, 255, 0.6);
  }
  
  div.problem-level-1 > .admonition-title {
    background-color: rgba(0, 195, 255, 0.2);
  }
  
  div.problem-level-1 > .admonition-title::before {
    color: rgba(0, 195, 255, 0.2);
  }
  
  div.problem-level-1 > .admonition-title::after {
    content: "🔥";
  }
  
  /* Stil for oppgaver: level 2 */
  div.problem-level-2 {
    border-left-color: rgba(0, 195, 255, 0.6);
  }
  
  div.problem-level-2 > .admonition-title {
    background-color: rgba(0, 195, 255, 0.2);
    padding-left: 1.5cm;
  }
  
  div.problem-level-2 > .admonition-title::before {
    color: rgba(0, 195, 255, 0.2);
  }
  
  div.problem-level-2 > .admonition-title::after {
    content: "🔥 🔥";
    /* content: url("./icons/outline/fire.svg") url("./icons/outline/fire.svg"); */
    white-space: nowrap;
    display: inline;
  }

  
  /* Stil for oppgaver: level 3 */
  div.problem-level-3 {
    border-left-color: rgba(0, 195, 255, 0.6);
  }
  
  div.problem-level-3 > .admonition-title {
    background-color: rgba(0, 195, 255, 0.2);
    padding-left: 1.7cm;
  }
  
  div.problem-level-3 > .admonition-title::before {
    color: rgba(0, 195, 255, 0.2);
  }
  
  div.problem-level-3 > .admonition-title::after {
    content: "🔥 🔥 🔥";
    white-space: nowrap;
    display: inline;
  }

/* Stil for eksempelkode */
div.examplecode {
  border-left-color: rgba(241, 130, 86, 0.6);
}
  
div.examplecode > .admonition-title {
  background-color: rgba(241, 130, 86, 0.3) !important;
}
  
div.examplecode > .admonition-title:before {
  color: rgba(241, 130, 86, 0.3);
}

div.examplecode > .admonition-title::after {
  content: "💻";
  white-space: nowrap;
  display: inline;
}
  
  
/* Stil for underveisoppgaver */

div.check {
  border-left-color: rgba(0, 35, 190, 0.6);
}

div.check > .admonition-title {
  background-color: rgba(0, 35, 190, 0.2);
}

div.check > .admonition-title::after {
  content: url("./icons/solid/pencil_square.svg");
  width: 20px;
  height: 20px;
}

[data-mode=light] div.check > .admonition-title::after {
  content: url("./icons/solid/light_mode/pencil_square.svg");
  width: 20px;
  height: 20px;
}
  
@media (prefers-color-scheme: light) {
  div.check > .admonition-title::after {
    content: url("./icons/solid/light_mode/pencil_square.svg");
    width: 20px;
    height: 20px;
  }
}
  
[data-mode=dark] div.check > .admonition-title::after {
  content: url("./icons/solid/dark_mode/pencil_square.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.check > .admonition-title::after {
    content: url("./icons/solid/dark_mode/pencil_square.svg");
    width: 20px;
    height: 20px;
  }
}



  
  /* Stil for diskusjonsspørsmål */
  div.discussion {
    border-left-color: rgba(15, 186, 3, 0.6);
  }
  
  div.discussion > .admonition-title {
    background-color: rgba(15, 186, 3, 0.2);
  }
  
  div.discussion > .admonition-title::before {
    color: rgba(15, 186, 3, 0.2);
  }
  
  div.discussion > .admonition-title::after {
    content: "💬";
  }
  
  
/* Stil for oppgaver med programmering */
div.progging {
  border-left-color: rgba(0, 195, 255, 0.6);
}

div.progging > .admonition-title {
  background-color: rgba(0, 195, 255, 0.2);
}

div.progging > .admonition-title::before {
  color: rgba(0, 195, 255, 0.2);
}

div.progging > .admonition-title::after {
  content: "💻";
}


/* Stil for side notes */
div.sidenote {
  border-left-color: rgba(0, 195, 255, 0.6);
}

div.sidenote > .admonition-title {
  background-color: rgba(0, 195, 255, 0.2);
}

div.sidenote > .admonition-title::before {
  color: rgba(0, 195, 255, 0);
}



[data-mode=light] div.sidenote > .admonition-title::after {
  content: url("./icons/solid/light_mode/scroll.svg");
  width: 20px;
  height: 20px;
}
  
@media (prefers-color-scheme: light) {
  div.sidenote > .admonition-title::after {
    content: url("./icons/solid/light_mode/scroll.svg");
    width: 20px;
    height: 20px;
  }
}
  
[data-mode=dark] div.sidenote > .admonition-title::after {
  content: url("./icons/solid/dark_mode/scroll.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.sidenote > .admonition-title::after {
    content: url("./icons/solid/dark_mode/scroll.svg");
    width: 20px;
    height: 20px;
  }
}




  
  
/* Stil for hints */
div.hints {
  border-left-color: rgba(0, 195, 255, 0.6);
}

div.hints > .admonition-title {
  background-color: rgba(0, 195, 255, 0);
}

div.hints > .admonition-title::before {
  color: rgba(0, 195, 255, 0);
}


[data-mode=light] div.hints > .admonition-title::after {
  content: url("./icons/outline/light_mode/key.svg");
  width: 20px;
  height: 20px;
}
  
@media (prefers-color-scheme: light) {
  div.hints > .admonition-title::after {
    content: url("./icons/outline/light_mode/key.svg");
    width: 20px;
    height: 20px;
  }
}
  
[data-mode=dark] div.hints > .admonition-title::after {
  content: url("./icons/outline/dark_mode/key.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.hints > .admonition-title::after {
    content: url("./icons/outline/dark_mode/key.svg");
    width: 20px;
    height: 20px;
  }
}



/* Stil for kodefeil */
div.pythonerror {
  border-left-color: rgba(217, 0, 255, 0.6);
}

div.pythonerror > .admonition-title {
  background-color: rgba(217, 0, 255, 0);
}

div.pythonerror > .admonition-title::before {
  color: rgba(217, 0, 255, 0);
}


[data-mode=light] div.pythonerror > .admonition-title::after {
  content: url("./icons/solid/light_mode/python.svg");
  width: 20px;
  height: 20px;
}
  
@media (prefers-color-scheme: light) {
  div.pythonerror > .admonition-title::after {
    content: url("./icons/solid/light_mode/python.svg");
    width: 20px;
    height: 20px;
  }
}
  
[data-mode=dark] div.pythonerror > .admonition-title::after {
  content: url("./icons/solid/dark_mode/python.svg");
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  div.pythonerror > .admonition-title::after {
    content: url("./icons/solid/dark_mode/python.svg");
    width: 20px;
    height: 20px;
  }
}




/* Append an icon after the title in any admonition with the 'admonition-icon-write' class */
.admonition.admonition-icon-write > .admonition-title::after {
  content: url('/_static/icons/stickers/edit.svg'); /* Path to your SVG icon */
  display: inline-block;
  margin-left: 8px; /* Space between the title and the new icon */
  vertical-align: middle; /* Aligns the icon vertically with the title */
  width: 24px; /* Adjust the icon size */
  height: 24px;
}



blockquote {
  color: #007acc; /* Replace with any color code you prefer */
  background-color: rgba(183, 215, 255, 0.251); /* Replace with any color code you prefer */
  border-left: 5px solid #007acc; /* Optional: changes the left border color */
  padding-left: 10px; /* Optional: adds some padding */
}
