/* CSS rules for CodeMirror */


/* Setter font og fontsize for koden */
.CodeMirror * {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px; 
}

.CodeMirror {
  height: auto !important;
}


/* Spesiell highlighting på utvalgte fraser i kommentarer */
.cm-todo {
  color: red !important; 
  font-weight: bold !important;
}
.cm-fiksmeg {
  color: rgb(255, 0, 0) !important; 
  font-weight: bold !important;
}
.cm-note {
  color: red !important;
  font-weight: bold !important;
}
.cm-fyllinn {
  color: red !important;
  font-weight: bold !important;
}


/* Lager en border rundt kodeboksen for å utheve den */

[data-mode=light] .CodeMirror {
  border: 1px solid black; /* Add a black border */
  border-radius: 4px;      /* Optional: Add rounded corners */
}

@media (prefers-color-scheme: light) {
  .CodeMirror {
    border: 1px solid black; /* Add a black border */
    border-radius: 4px;      /* Optional: Add rounded corners */
  }
}



[data-mode=dark] .CodeMirror {
  border: 1px solid white; /* Add a black border */
  border-radius: 4px;      /* Optional: Add rounded corners */
}

@media (prefers-color-scheme: dark) {
  .CodeMirror {
    border: 1px solid white; /* Add a black border */
    border-radius: 4px;      /* Optional: Add rounded corners */
  }
}

.CodeMirror-linenumbers {
  padding-right: 10px; /* Adjust this value to change the space between line numbers and code */
}






/* Highlighting for error messages */
.error-message {
  white-space: pre-wrap;
}

.error-type {
  color: red;
  font-weight: bold !important;
}

.error-line {
  color: red;
  background-color: rgba(0, 161, 248, 0.305);
  font-weight: bold !important;
}



/* General button styles */
.button {
  color: teal; /* Button text color */
  border: none; /* Remove border */
  padding: 4px 20px; /* Padding around text */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Allow setting height and width */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin around button */
  cursor: pointer; /* Cursor on hover */
  border-radius: 8px; /* Rounded corners */
  transition-duration: 0.4s; /* Transition effect on hover */
}

/* Run button */
.button-run {
  background-color: #28a745; /* Green background */
  color: black; /* Black text */
}

.button-run:hover {
  background-color: #218838; /* Darker green on hover */
}

.button-run:active {
  background-color: #1e7e34; /* Even darker green on click */
  box-shadow: 0 5px #666; /* Shadow effect */
  transform: translateY(4px); /* Move button down */
}

/* Reset button */
.button-reset {
  background-color: #ffc107; /* Orange background */
  color: black; /* Black text */
}

.button-reset:hover {
  background-color: #e0a800; /* Darker orange on hover */
}

.button-reset:active {
  background-color: #c69500; /* Even darker orange on click */
  box-shadow: 0 5px #666; /* Shadow effect */
  transform: translateY(4px); /* Move button down */
}

/* Cancel button */
.button-cancel {
  background-color: #dc3545; /* Red background */
  color: black; /* Black text */
}

.button-cancel:hover {
  background-color: #c82333; /* Darker red on hover */
}

.button-cancel:active {
  background-color: #bd2130; /* Even darker red on click */
  box-shadow: 0 5px #666; /* Shadow effect */
  transform: translateY(4px); /* Move button down */
}

.button:focus {
  outline: none; /* Remove outline on focus */
}

.button svg {
  /* margin-left: 8px;  */
  vertical-align: middle; /* Align icon vertically with text */
  width: 20px; /* Icon width */
  height: 20px; /* Icon height */
}



.pythonoutput {
  max-height: 300px;
  overflow-y: auto;
}



/* Dynamically highlight error lines in editor */
.cm-highlight {
  background-color: rgba(255, 0, 0, 0.2); /* Light red background */
}


/* Change the background and text color of the highlighted selection */
.CodeMirror-selected {
  background-color: #0196bc41 !important; 
}
