
:root {
    --body-background-color-dark: #101218;


    /* Light mode styles */
    /* --body-background-color-light: #FFFFFF; */
    --body-background-color-light: #FFFFFF;
    --bd-header-article-color: #FFFFFF;
}

/* Light mode styles for the general webpage */

[data-mode="light"] body {
    background-color: var(--body-background-color-light) !important;
}

[data-mode="light"] .bd-sidebar {
    background-color: var(--body-background-color-light) !important;
}


[data-mode="light"] .bd-sidebar-secondary {
    background-color: var(--body-background-color-light) !important;
}

[data-mode="light"] .bd-header-article {
    /* background-color: var(--body-background-color-light) !important; */
    background-color: var(--bd-header-article-color) !important;
}

[data-mode="light"] .bd-article-container {
    background-color: var(--body-background-color-light) !important;
}

@media (prefers-color-scheme: light) {
    [data-mode="auto"] body {
        background-color: var(--body-background-color-light) !important;
    }
}

@media (prefers-color-scheme: light) {
    [data-mode="auto"] .bd-sidebar {
        background-color: var(--body-background-color-light) !important;
    }
}

@media (prefers-color-scheme: light) {
    [data-mode="auto"] .bd-sidebar-secondary {
        background-color: var(--body-background-color-light) !important;
    }
}

@media (prefers-color-scheme: light) {
    [data-mode="auto"] .bd-header-article {
        background-color: var(--body-background-color-light) !important;
    }
}

@media (prefers-color-scheme: light) {
    [data-mode="auto"] .bd-article-container {
        background-color: var(--body-background-color-light) !important;
    }
}






/* Dark mode styles for the general webpage */


[data-mode="dark"] body {
    background-color: var(--body-background-color-dark) !important;
}

[data-mode="dark"] .bd-sidebar {
    background-color: var(--body-background-color-dark) !important;
}

[data-mode="dark"] .bd-sidebar-secondary {
    background-color: var(--body-background-color-dark) !important;
}




[data-mode="dark"] .bd-header-article {
    background-color: var(--body-background-color-dark) !important;
}

[data-mode="dark"] .bd-article-container {
    background-color: var(--body-background-color-dark) !important;
}


@media (prefers-color-scheme: dark) {
    [data-mode="auto"] body {
        background-color: var(--body-background-color-dark) !important;
    }
}

@media (prefers-color-scheme: dark) {
    [data-mode="auto"] .bd-sidebar {
        background-color: var(--body-background-color-dark) !important;
    }
}

@media (prefers-color-scheme: dark) {
    [data-mode="auto"] .bd-sidebar-secondary {
        background-color: var(--body-background-color-dark) !important;
    }
}


@media (prefers-color-scheme: dark) {
    [data-mode="auto"] .bd-header-article {
        background-color: var(--body-background-color-dark) !important;
    }
}

@media (prefers-color-scheme: dark) {
    [data-mode="auto"] .bd-article-container {
        background-color: var(--body-background-color-dark) !important;
    }
}

