/* CSS rules for images and figures */

.figure .caption {
  text-align: left !important;
}

.image .caption {
  text-align: left !important;
}

.inline-image {
  width: 35px; /* Fixed width */
  height: auto; /* Maintain aspect ratio */
  vertical-align: middle; /* Align with text */
  border: 1px solid #006aff; /* Add a border */
  border-radius: 8px; /* Rounded corners */
}


/* CSS rules for math */

/* To avoid clipping of equations. Adds vertical whitespace for the display of equations. */
.MathJax_Display {
  margin: 1em 0;
  overflow: visible;
}
.MathJax {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}



/* Misc CSS rules */

/* Adjust the size of the custom logo */
.navbar-brand img {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}






.centered-grid {
  display: flex;
  justify-content: center;
}

.centered-grid .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; /* Adjust the gutter spacing as needed */
}





/* Symboler for å indikere oppgavetype til elever */

.icon {
  width: 24px; /* Adjust as needed */
  height: 24px;
  fill: var(--icon-color);
  stroke: var(--icon-color);
}

[data-mode=light] .icon {
  stroke: #000000; /* Black for light mode */
}

[data-mode=dark] .icon {
  stroke: #ffffff; /* white for dark mode */
}



/* CSS rules for contents list */

/* Custom styles for the contents directive */

div.contents {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #ee6d6d;
  border-radius: 8px;
  margin-bottom: 20px;
}
